.header{
    height: 110px;
    background-color: white;
}
.title{
    font-size: 30px;
    margin-left:60px;
    font-family: 'Ubuntu', sans-serif;
}
.header-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.header-icon{
    margin-right:60px;
    font-size: 30px ;
}
.b{
    margin-right:10px;
    font-size: 20px ;
    font-family: 'Ubuntu', sans-serif;
}
.main{
    height: 520px;
    width: 100%;
    /* background-image: linear-gradient(to right,#fc5c7d,#6a82fb); */
    background-image: linear-gradient(to bottom right, #FF6699, #3366FF);

    display: flex;
    justify-content: center;
}
.pic{
    height: 550px;
    width: 30%;
    margin-right: 150px;
}
img{
    height: 100%;
    width:  100%;
    object-fit:  contains;
    margin-top:30px;
}
.main-h1{
    font-size: 50px;
    margin-top: 50px;
    margin-bottom: 0px;
    font-family: 'Kanit', sans-serif;
}
.p1{
    color: white;
    font-size: 60px ;
    margin-top: 20px;
    margin-bottom: 0px;
    font-family: 'Kanit', sans-serif;
}
.p2{
    color: white;
    font-size: 60px ;
    margin-top: -24px;
    margin-bottom: 15px;
    font-family: 'Kanit', sans-serif;
}
.p3{
    color: white;
    font-size: 20px ;
    margin-bottom: 30px;
    font-family: 'Kanit', sans-serif;
}
.login{
    display: flex;
}
/* .input{
    width: 240px;
    height: 40px;
    border: 0;
    border-radius: 8px;
} */
.fui-basic-input .input {
    height: 40px;
    padding: 15px;
    border-radius: 6px;
    border: 1px solid #9ca3af;
    transition: linear 0.2s;
  }
  .fui-basic-input .input::-webkit-input-placeholder {
    color: #9ca3af;
  }
  .fui-basic-input .input::-moz-input-placeholder {
    color: #9ca3af;
  }
  .fui-basic-input .input:focus {
    border-color: #1dc071;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
      0 2px 4px -2px rgba(0, 0, 0, 0.1);
  }
.btn{
    width: 165px;
    height: 40px;
    border: 0;
    background-color: #fc5c7d;
    color: white;
    border-radius: 8px;
    user-select: none;
    cursor: pointer;
    position: relative;
    isolation: isolate;
    overflow: hidden;
    margin-left: 25px;
}
.btn:hover::before {
    left: auto;
    right: 0;
    width: 100%;
  }
.btn::before {
    content: "";
    position: absolute;
    left: 0;
    right: auto;
    top: 0;
    height: 100%;
    width: 0;
    background-color: #fff;
    opacity: 0.1;
    z-index: -1;
    transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  }
.footer{
    height: 112px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
